/* raffle-frontend/src/components/Footer.module.css */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    margin-top: 30px; /* Empuja el footer hacia abajo del contenido */
    color: #6c757d; /* Color base para el texto y para que herede el SVG */
    width: 100%; /* Ocupa el ancho del contenedor padre (global-app-container) */
    box-sizing: border-box;
    cursor: pointer; /* Indica que es interactivo */
    transition: background-color 0.3s ease; /* Transición opcional para el fondo del footer si se desea */
}

.footerText {
    font-size: var(--font-size-sm);
    margin-right: 5px;
    margin-left: 5px;
    color: inherit; /* Hereda el color del .footer */
    transition: color 0.3s ease; /* Transición suave para el color del texto */
}

.footerSvg {
    width: 24px;
    height: 24px;
    fill: currentColor; /* Hereda el color del .footer, que a su vez es heredado por .footerText */
    transition: fill 0.3s ease; /* Transición suave para el color del SVG */
}

/* Efecto hover en el contenedor .footer */
.footer:hover .footerText {
    color: #00c700; /* Texto blanco al hacer hover sobre .footer */
}

.footer:hover .footerSvg {
    fill: #00c700; /* Icono SVG blanco al hacer hover sobre .footer */
}

/* Opcional: Si quieres que el fondo del footer cambie también para que el blanco resalte más */
/* .footer:hover {
    background-color: #495057; /* Un color de fondo oscuro para el hover */
/* } */
