/* raffle-frontend/src/components/MainLayout.module.css */
.appContainer {
  display: flex;
  min-height: 100vh;
  background-color: #f4f7f6;
}

.mainContentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 260px; /* Ancho del sidebar abierto */
}

.pageContent {
  padding: 20px;
  flex-grow: 1;
}

.sidebarCollapsed {
  margin-left: 80px; /* Ancho del sidebar colapsado */
}

/* --- Responsive Design --- */

@media (max-width: 768px) {
  .mainContentWrapper {
    margin-left: 0;
  }

  .sidebarCollapsed {
    margin-left: 0;
  }
}
